<!doctype html>
<html ng-app="ngApp" ng-controller="controller" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="country-picker/build/css/countrySelect.css">
    <script src="country-picker/build/js/countrySelect.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

<!-- angular -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <title>Sign Up Form</title>




<script type="text/javascript">

var app = angular.module('ngApp', []);

app.controller('controller', function ($scope) {

$scope.formsub = function () {

$scope.msg = alert("Form submitted");

};

});

</script>








  </head>
  <body>
  

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('images/bg_1.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 py-5">
            <h3>Register</h3>
            <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>




            <form name="myForm" novalidate ng-submit="myForm.$valid && formsub();">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group first">
                    <label for="fname">First Name</label>
                    <input type="text" name="firstName" ng-model="firstName" class="form-control" placeholder="e.g. Salman" ng-pattern="/^[a-zA-Z. ]{3,20}$/" required>

                   <span style="color:Red" ng-show="myForm.firstName.$error.required"> Required! </span>

                  <span style="color:Red" class="fa fa-times" ng-show="myForm.firstName.$dirty&&myForm.firstName.$error.pattern">&nbsp;Only Alphabets Allowed, minimum 3 Characters</span>

     <span class="fa fa-check-circle check-circle" ng-show="myForm.firstName.$valid"></span>
                    
                

                </div>    

                </div>
                <div class="col-md-6">
                  <div class="form-group first">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" name="lastName" ng-model="lastName" required placeholder="e.g. Memon" ng-pattern="/^[a-zA-Z. ]{3,20}$/">

          
                  <span style="color:Red" class="fa fa-times" ng-show="myForm.lastName.$dirty&&myForm.lastName.$error.pattern">&nbsp;Only Alphabets Allowed, minimum 3 Characters</span>

     <span class="fa fa-check-circle check-circle" ng-show="myForm.lastName.$valid"></span>
                  </div>    
                </div>
              </div>



              <div class="row">
                <div class="col-md-12">
                  <div class="form-group first">
                    <label for="email">Email Address</label>
                    <input type="text" name="email" ng-model="email" required class="form-control" placeholder="e.g. salmanmemon0909@gmail.com" ng-pattern="/^[a-zA-Z0-9.]{3,}[@][a-zA-Z0-9]{3,}[.][a-zA-Z.]{2,6}$/">

                    <span style="color:Red" ng-show="myForm.email.$error.required"> Required! </span>

                  <span style="color:Red" class="fa fa-times" ng-show="myForm.email.$dirty&&myForm.email.$error.pattern">&nbsp;Invalid Email</span>

     <span class="fa fa-check-circle check-circle" ng-show="myForm.email.$valid"></span>
                    
                  </div>    
                </div>
              </div>





              <div class="row">
                <div class="col-md-6">
                  <div class="form-group first">
                    <label for="lname">Phone Number</label>
                    <input type="text" class="form-control" placeholder="+923172761910" name="number" ng-model="number" required ng-pattern="/^[+][0-9]{0,13}$/" >
                       

                  <span style="color:Red" class="fa fa-times" ng-show="myForm.number.$dirty&&myForm.number.$error.pattern">&nbsp;Invalid number</span>

     <span class="fa fa-check-circle check-circle" ng-show="myForm.number.$valid"></span>
                  </div>    
                </div>



                <div class="col-md-6">
                  <div class="form-group first">
                  	<label for="lname">Select Country</label>
                    <input type="text" class="form-control" id="contry-picker" required>
                  </div>    
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
              
                  <div class="form-group last mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control"  placeholder="Your Password" required name="password" ng-model="password" ng-pattern="/^[a-zA-z0-9@!#$%^&*()?<>]{10,40}$/">
                     <span style="color:Red" ng-show="myForm.password.$error.required"> Required! </span>

                  <span style="color:Red" class="fa fa-times" ng-show="myForm.password.$dirty&&myForm.password.$error.pattern">&nbsp;minimum password length 10</span>

     <span class="fa fa-check-circle check-circle" ng-show="myForm.password.$valid"></span>
                  </div>
                </div>
             <!--    <div class="col-md-6">
              
                  <div class="form-group last mb-3">
                    <label for="re-password">Re-type Password</label>

                    <input type="password" class="form-control" placeholder="Re-Enter Your Password" required name="repassword" ng-model="repassword" >

                     <span style="color:Red" ng-show="myForm.repassword.$error.required"> Required! </span>
                
                  <span style="color:Red" class="fa fa-times" ng-show="myForm.repassword.$dirty&&myForm.repassword.$error">&nbsp;password not matched</span>

     <span class="fa fa-check-circle check-circle" ng-show="myForm.repassword.$valid"></span>


                  </div>
                </div> -->

                
              </div>
              
              <input type="submit" ng-disabled="myForm.$invalid" value="Register" class="btn px-5 btn-primary">

            </form>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    
    



<script>


$(document).ready(function(){

  $("#contry-picker").countrySelect({

    responsiveDropdown: true,

  });


});

</script>






    </body>
</html>